.index1{
	width: 107px;
	height: 70px;
	left: 19px;
	top: 72px;
}

.index2{
	width: 107px;
	height: 73px;
	left: 19px;
	top: 142px;
}

.index3{
	width: 107px;
	height: 75px;
	left: 19px;
	top: 214px;
}

.index4{
	width: 107px;
	height: 73px;
	left: 19px;
	top: 286px;
}

.index5{
	width: 107px;
	height: 99px;
	left: 19px;
	top: 361px;
}

.index6{
	width: 107px;
	height: 98px;
	left: 19px;
	top: 458px;
}

.index7{
	width: 109px;
	height: 99px;
	left: 18px;
	top: 552px;
}

.index8{
	width: 107px;
	height: 70px;
	left: 139px;
	top: 72px;
}

.index9{
	width: 107px;
	height: 73px;
	left: 139px;
	top: 286px;
}

.index10{
	width: 107px;
	height: 99px;
	left: 139px;
	top: 361px;
}

.index11{
	width: 107px;
	height: 98px;
	left: 139px;
	top: 458px;
}

.index12{
	width: 109px;
	height: 99px;
	left: 138px;
	top: 552px;
}

.index13{
	width: 107px;
	height: 70px;
	left: 259px;
	top: 72px;
}

.index14{
	width: 107px;
	height: 73px;
	left: 259px;
	top: 142px;
}

.index15{
	width: 107px;
	height: 75px;
	left: 259px;
	top: 214px;
}

.index16{
	width: 107px;
	height: 73px;
	left: 259px;
	top: 286px;
}

.index17{
	width: 107px;
	height: 99px;
	left: 259px;
	top: 361px;
}

.index18{
	width: 107px;
	height: 98px;
	left: 259px;
	top: 458px;
}

.index19{
	width: 109px;
	height: 99px;
	left: 258px;
	top: 552px;
}

.index20{
	width: 107px;
	height: 70px;
	left: 389px;
	top: 72px;
}

.index21{
	width: 107px;
	height: 73px;
	left: 389px;
	top: 142px;
}

.index22{
	width: 107px;
	height: 75px;
	left: 389px;
	top: 214px;
}

.index23{
	width: 107px;
	height: 73px;
	left: 389px;
	top: 286px;
}

.index24{
	width: 107px;
	height: 99px;
	left: 389px;
	top: 361px;
}

.index25{
	width: 107px;
	height: 98px;
	left: 389px;
	top: 458px;
}

.index26{
	width: 109px;
	height: 99px;
	left: 388px;
	top: 552px;
}

.index27{
	width: 107px;
	height: 70px;
	left: 504px;
	top: 72px;
}

.index28{
	width: 107px;
	height: 73px;
	left: 504px;
	top: 142px;
}

.index29{
	width: 107px;
	height: 75px;
	left: 504px;
	top: 214px;
}

.index30{
	width: 107px;
	height: 73px;
	left: 504px;
	top: 286px;
}

.index31{
	width: 107px;
	height: 99px;
	left: 504px;
	top: 361px;
}

.index32{
	width: 107px;
	height: 98px;
	left: 504px;
	top: 458px;
}

.index33{
	width: 109px;
	height: 99px;
	left: 504px;
	top: 552px;
}

.index34{
	width: 107px;
	height: 70px;
	left: 622px;
	top: 72px;
}

.index35{
	width: 107px;
	height: 73px;
	left: 622px;
	top: 142px;
}

.index36{
	width: 107px;
	height: 75px;
	left: 622px;
	top: 214px;
}

.index37{
	width: 107px;
	height: 73px;
	left: 622px;
	top: 286px;
}

.index38{
	width: 107px;
	height: 99px;
	left: 622px;
	top: 361px;
}

.index39{
	width: 107px;
	height: 98px;
	left: 622px;
	top: 458px;
}

.index40{
	width: 109px;
	height: 99px;
	left: 622px;
	top: 552px;
}
